@{
    ViewData["Title"] = "Home Page";
}
<div>
    <video controls autoplay>

        <source src="~/Picture/viva magenta.mp4" type="video/ogg">

    </video>

    <style>
        video {
            max-width: 100%;
            height: auto;
        }
     </style>

</div>
